body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: 100% 100%; /* 배경 이미지를 화면에 꽉 채우도록 설정 */
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: yellow; /* 텍스트 색상을 흰색으로 설정 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 추가 */
    margin-top: -28vh; /* 상단에서 30vh 위치로 이동 */
}

#countdown {
    font-size: 3em;
    margin-top: 20px;
}
